body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(8, auto); /* 1—ñFŠÔ{7“ú•ª */
  border: 1px solid #ccc;
}

.day-header {
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.saturday {
  color: blue;
}

.sunday {
  color: red;
}

.time-slot {
  padding: 5px;
  border: 1px solid #ccc;
  height: 40px;
}